__pycache__/
*.py[cod]
.DS_Store
.idea/
.pytest_cache/
.ipynb_checkpoints/

data/
external/
logs/
checkpoints/
results_internal/
results_external/

*.pth
*.pt
*.tar
*.nii
*.nii.gz
*.xlsx
*.png
*.out
*.err
